.wrapper {
	display: grid;
	grid-template-columns: 240px auto 425px auto;
	grid-template-rows: 80px auto auto 1fr;
	grid-template-areas:
		"sidebar header header header"
		"sidebar title title title"
		"sidebar course course chat"
		"sidebar event upcomingSessions chat";
	row-gap: 20px;

	h1 {
		margin: 0;
	}

	.title {
		margin-top: 27px;
		margin-left: 40px;

		color: var(--headline);

		font-size: 21px;
		line-height: 25px;
		grid-area: title;
	}

	.course {
		height: 305px;
		margin-left: 40px;
		padding: 26px 9px 15px;
		grid-area: course;

		.programs {
			margin: 0;
		}

		.card {
			border-bottom: 1px solid #EEE;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.chat {
		grid-area: chat;

		margin-left: 25px;
	}

	.event {
		grid-area: event;

		margin-left: 40px;
	}

	.upcomingSessions {
		grid-area: upcomingSessions;

		margin-bottom: 35px;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.header {
		grid-area: header;
	}
}

@media screen and (max-width: 1400px) {
	.wrapper {
		grid-template-columns: 240px 400px auto;
		grid-template-areas:
			"sidebar header header"
			"sidebar title title"
			"sidebar course course"
			"sidebar event upcomingSessions";

		.course {
			margin-right: 40px;
		}

		.upcomingSessions {
			margin-right: 40px;
		}

		.chat {
			display: none;
		}
	}
}

@media screen and (max-width: 1100px) {
	.wrapper {
		grid-template-columns: 400px auto;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"title title"
			"course course"
			"event upcomingSessions";

		margin-top: 48px;

		.sidebar {
			display: none !important;
		}

		.course {
			margin-right: 40px;
		}

		.upcomingSessions {
			margin-right: 40px;
			margin-bottom: 105px;
		}

		.chat {
			display: none;
		}
	}
}

@media screen and (max-width: 830px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			"title"
			"course"
			"event"
			"upcomingSessions";

		justify-content: center;

		.course {
			width: calc(100% - 40px);
			margin-right: 20px;
			margin-left: 20px;
		}

		.upcomingSessions {
			min-width: calc(100% - 40px);
			margin-right: 20px;
			margin-bottom: 104px;
			margin-left: 20px;
		}
	}
}

@media screen and (max-width: 430px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto 1fr;
		grid-template-areas:
			"title"
			"course"
			"event"
			"upcomingSessions";
		justify-items: center;

		margin: 60px 0 0;

		.title {
			margin: 5px 25px;
			justify-self: flex-start;
		}

		.course {
			width: 89.6%;
			margin: 0;
		}

		.event {
			width: 345px;
			margin: 0;
		}

		.chat {
			display: none;
		}

		.upcomingSessions {
			width: 89.6%;
			margin: 0 0 104px;
		}
	}
}
