.menuMobile {
	position: fixed;
	z-index: 11;
	bottom: 0;

	display: none;
	align-items: center;
	justify-content: space-around;

	width: 100vw;
	min-width: 375px;
	height: 84px;

	border-bottom: 5px solid var(--headline);
	background-color: var(--white);
	filter: drop-shadow(-3px -3px 20px rgba(0, 0, 0, 0.05));

	.menuBlock {
		display: grid;
		align-items: center;

		width: 90px;
		height: 100%;

		border-top: 5px solid transparent;
		grid-template-rows: 17px auto 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			'.'
			'icon'
			'text';
		justify-items: center;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 25px;
			height: 25px;
			grid-area: icon;
		}

		.text {
			letter-spacing: 0.02em;

			color: var(--darkPurpleText);

			font-size: 12px;
			line-height: 14px;
			grid-area: text;
		}
	}

	.active {
		svg {
			path {
				stroke: var(--purple);
			}

			g {
				fill: var(--purple);
			}

			rect {
				stroke: var(--purple);
			}
		}

		.text {
			color: var(--purple);
		}

		border-top: 5px solid var(--purple);
		border-radius: 5px;
	}
}

@media screen and (max-width: 1100px) {
	.menuMobile {
		display: flex;
	}
}

@media screen and (max-width: 375px) {
	.menuMobile {
		display: flex;
	}
}
