.wrapper {
	width: 310px;
	position: relative;

	.header {
		display: flex;
		align-items: center;

		padding: 11px 16px 16px;

		border-bottom: 1px solid var(--lightGray);
		border-radius: 20px 20px 0 0;

		background-color: #FAFAFF;

		.back {
			width: 30px;
			height: 30px;
			margin-right: 12px;
		}

		.avatar {
			position: relative;

			width: 30px;
			height: 30px;
			margin-right: 12px;
			cursor: pointer;

			img {
				object-fit: cover;
			}

			.online {
				position: absolute;
				right: 0;
				bottom: 0;

				width: 10px;
				height: 10px;

				border-radius: 50%;
				background-color: var(--green);
			}
		}

		.titleAvatar {
			letter-spacing: 0.02em;

			color: var(--headline);

			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
		}
	}

	.chat {
		overflow-y: auto;

		max-height: 640px;

		border-radius: 0 0 20px 20px;

		&::-webkit-scrollbar {
			width: 0;
		}

		.userRow {
			display: flex;
			overflow-x: auto;

			padding: 16px;
			gap: 21px;

			&::-webkit-scrollbar {
				height: 5px;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: var(--lightGray);
			}

			&::-webkit-scrollbar-track {
				background-color: var(--darkPurpleText);
			}

			.user {
				width: 48px;

				cursor: pointer;
				text-align: center;
			}

			.plusIcon {
				display: flex;
				align-items: center;
				justify-content: center;

				width: 46px;
				height: 46px;

				border-radius: 50%;
				background-color: #E3E2E5;
			}

			.userAvatar {
				position: relative;

				display: flex;
				align-items: center;
				justify-content: center;

				width: 46px;
				height: 46px;

				border-radius: 50%;
				background: linear-gradient(#FF2C55, #5855D6);

				img {
					width: 40px;
					height: 40px;
				}

				&::before {
					position: absolute;
					top: 2px;
					left: 2px;

					width: 40px;
					height: 40px;

					content: '';

					border: 1px solid var(--white);
					border-radius: 50%;
					background-color: transparent;
				}
			}

			.name {
				letter-spacing: 1px;

				color: var(--darkGray);

				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.wrapper {
		width: 100%;
		margin: 0;

		.header {
			border-radius: 0;
		}

		.chat {
			border-radius: 0;
			max-height: 100%;
		}
	}
}

@media screen and (max-width: 1100px) {
	.wrapper {
		width: 100%;
		margin: 48px 0 84px;

		.header {
			border-radius: 0;
		}

		.chat {
			border-radius: 0;
			max-height: 100%;
		}
	}
}
