.wrapper {
	padding-top: 23px;
	padding-bottom: 23px;

	.course {
		display: grid;
		grid-template-columns: 68px 1fr auto;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'icon info evaluateBlock'
			'icon info evaluateBlock';
		gap: 16px;

		.icon {
			grid-area: icon;
		}

		.info {
			grid-area: info;

			.tagBlock {
				margin-bottom: 11px;

				.tag {
					padding: 5px 10px;

					text-transform: uppercase;

					color: var(--white);
					border-radius: 35px;
					background-color: var(--purple);

					font-size: 10px;
					font-weight: 600;
					line-height: 24px;
				}
			}

			.text {
				display: inline-block;

				max-width: 260px;

				letter-spacing: -0.24px;

				color: var(--headline);

				font-size: 14px;
				font-weight: 600;
				line-height: 17px;
			}
		}

		.evaluateBlock {
			display: flex;
			flex-direction: column;

			padding-right: 43px;

			color: var(--darkPurpleText);
			grid-area: evaluateBlock;

			.evaluate {
				text-align: center;

				font-size: 36px;
				font-weight: bold;
				line-height: 57px;
			}

			.academicAverage {
				text-align: center;

				font-size: 10px;
				line-height: 12px;
			}
		}
	}

	.border {
		margin-top: 24px;
		margin-bottom: 20px;

		border-bottom: 1px solid #EEE;
	}
}

@media screen and (max-width: 430px) {
	.wrapper {
		.course {
			grid-template-columns: 68px 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
			'icon info '
			'icon info ';
			.evaluateBlock {
				display: none;
			}

			.info {
				.tagBlock {
					.tag {
						font-size: 8px;
					}
				}

				.text {
					font-size: 12px;
					line-height: 14px;
					max-width: 170px;
				}
			}
		}
	}
}
