.sessions {
	display: grid;
	grid-template-columns: 65px 1fr auto;

	align-items: center;
	grid-template-areas: 'dateSession desc timeBlock';
	column-gap: 18px;

	margin-bottom: 20px;
	padding-right: 2px;

	.dateSession {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		color: var(--grayText);
		grid-area: dateSession;

		.dateStart {
			margin-bottom: 4px;

			color: var(--purple);

			font-size: 10px;
			font-weight: 600;
			line-height: 12px;
		}

		.number {
			font-size: 18px;
			font-weight: bold;
			line-height: 21px;
		}

		.text {
			text-transform: uppercase;

			font-size: 10px;
			font-weight: 600;
			line-height: 11px;
		}
	}

	.classBlock {
		grid-area: desc;

		.classTitle {
			color: var(--sessionsBlue);

			font-size: 12px;
			font-weight: 500;
			line-height: 14px;
		}

		.classSubTitle {
			margin: 0;

			letter-spacing: 0.02em;

			color: var(--darkPurpleText);

			font-size: 11px;
			line-height: 13px;
		}
	}

	.timeBlock {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 87px;
		height: 22px;

		color: var(--headline);
		border-radius: 11px;
		background-color: var(--softBlue);

		font-size: 9px;
		font-weight: 600;
		line-height: 11px;
		grid-area: timeBlock;
	}
}

@media screen and (max-width: 430px) {
	.sessions {
		grid-template-columns: 44px 1fr auto;
		column-gap: 10px;
		border-bottom: 1px solid var(--lightGray);
		margin: 0;
		padding: 12px 0;

		&:last-child {
			border-bottom: 0;
		}

		.dateSession {
			.dateStart {
				font-size: 8px;
				line-height: 10px;
			}

			.number {
				font-size: 16px;
				line-height: 19px;
			}

			.text {
				font-size: 10px;
				line-height: 12px;
			}
		}

		.classBlock {
			.classTitle {
				font-size: 11px;
				line-height: 13px;
			}

			.classSubTitle {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}
}
